<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
	  throwConfigExceptions="true">

	<variable name="appName" value="CommaBoard Cathexis" />

	<targets async="true">
		<target xsi:type="File"
				name="infolog"
		    fileName="${specialfolder:folder=LocalApplicationData:cached=true}/CommaBoardLogs/infolog/${shortdate}.log"	keepFileOpen="false"
			archiveFileName="${specialfolder:CommonApplicationData}/${appName}/Info/${shortdate}.{##}.log"
			archiveNumbering="Sequence"
			archiveEvery="Day"
			maxArchiveFiles="30"
		layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Message: ${message}${newline}"
            />
			
				<target xsi:type="File"
				name="errorlog"
		        fileName="${specialfolder:folder=LocalApplicationData:cached=true}/CommaBoardLogs/errorlog/${shortdate}.log"	keepFileOpen="false"
				archiveFileName="${specialfolder:CommonApplicationData}/${appName}/Error/${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
			layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Message: ${message}${newline}"
			/>

		<target xsi:type="File"
				name="warninglog"
		        fileName="${specialfolder:folder=LocalApplicationData:cached=true}/CommaBoardLogs/warninglog/${shortdate}.log"	keepFileOpen="false"
				archiveFileName="${specialfolder:CommonApplicationData}/${appName}/Warning/${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
			layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Message: ${message}${newline}"
			/>

		<target xsi:type="File"
				name="tracelog"
		        fileName="${specialfolder:folder=LocalApplicationData:cached=true}/CommaBoardLogs/tracelog/${shortdate}.log"	keepFileOpen="false"
				archiveFileName="${specialfolder:CommonApplicationData}/${appName}/Trace/${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
			layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Message: ${message}${newline}"
            />

	</targets>
	<rules>
		<logger name="*" writeTo="infolog" level="Info" />
		<logger name="*" writeTo="errorlog" level="Error" />
		<logger name="*" writeTo="warninglog" level="Warning" />
		<logger name="*" writeTo="tracelog" level="Trace" />
	</rules>
</nlog>